/* Solo como ejemplo adicional. Tailwind se encarga de casi todo. */
body {
  font-family: system-ui, sans-serif;
}

textarea::placeholder {
  color: #9ca3af; /* Tailwind gray-400 */
}

#toggle-tema:checked + label > div {
    transform: translateX(1.5rem);
    background-color: #1a202c; /* gray-900 */
  }

#previewOutput ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

#previewOutput li {
  margin-bottom: 0.5rem;
}


.highlight {
  background-color: #f3f4f6; /* Tailwind gray-100 */
  color: #1f2937; /* Tailwind gray-800 */
  padding: 1em;
  border-radius: 0.5em;
  font-family: monospace;
  overflow-x: auto;
}
